<div style="height: auto; width: 100%; font-family: serif; background-color: #FFFFFF;">
    <div style="padding: 16px; font-size: 18px; font-weight: bold; width:100%; color: #000000">
        <div>
            Customer {{ name }} experienced an error.
        </div>
        {{#if email}}
            <div style="margin-top: 20px;">
                You can email this customer here: {{ email }}
            </div>
        {{/if}}
        <div>
            <div style="margin-top: 20px;">
                Below is some additional system information:
            </div>

            <div style="margin-top: 20px;">
                {{{ context }}}
            </div>
        </div>
    </div>
</div>
