<div style="height: auto; width: 100%; font-family: serif; background-color: #FFFFFF;">
    <div style="padding: 16px; font-size: 18px; font-weight: bold; width:100%; color: #000000">
        <div>
            <div style="margin-top: 20px;">
                Hi {{ name }}
            </div>
            <div style="margin-top: 30px;">
                Forgot your password? <span style="font-weight: bold;"></span>
            </div>
            <div style="margin-top: 30px;">
                We received a request to reset the password for your account
            </div>
            <div style="margin-top: 30px;">
                <a href="{{ passwordResetUrl }}" style="font-weight: bold;">
                    Change password
                </a>
            </div>
            <div style="color: #383838; font-size: 13px; line-height: 180%; margin-top: 30px;">
                Contact us
                <a href="some@contact.email" style="text-decoration: none; color: #DA9716;">some@contact.email</a>
                <br>
            </div>
        </div>
    </div>
</div>

