<div style="height: auto; width: 100%; font-family: serif; background-color: #FFFFFF;">
    <div style="padding: 16px; font-size: 18px; font-weight: bold; width:100%; color: #000000">
        <div>
            <div style="margin-top: 20px;">
                Hi {{ name }}
            </div>
            <div style="margin-top: 20px;">
                To verify your email enter the following code: {{ code }}
            </div>
        </div>
    </div>
</div>
