<div style="height: auto; width: 572px; border-radius: 5px; font-family: Helvetica; background-color: #FFFFFF;">
    <div style="width: 100%; background-color: #202020; overflow: hidden; text-align: center; padding: 32px 0">
        <img src="{{ logoUrl }}" >
    </div>
    <div style="padding: 50px 60px 15px 60px;">
        <div style="color: #202020; font-size: 18px; font-weight: bold;">Hi {{ name }}</div>
        <div style="color: #383838; font-size: 13px; line-height: 180%;">
            <div style="margin-top: 30px;">
                Forgot your password? <span style="font-weight: bold;"></span>
            </div>

            <div style="margin-top: 30px;">
                We received a request to reset the password for your account
            </div>
            <div style="margin-top: 30px;" align="center">
                <a href="{{ passwordResetUrl }}" style="text-decoration:none; height: 49px; width: 225px; padding: 15px; box-shadow: 6px 6px 5px; background-color: #EFA414; color: #FFFFFF; cursor: pointer; border-radius: 4px; border: 0; font-size: 14px; font-weight: bold;">
                    Change password
                </a>
            </div>
            <div style="color: #383838; font-size: 13px; line-height: 180%; margin-top: 30px;">
                Contact us
                <a href="contact@bulldogandfisk.com" style="text-decoration: none; color: #DA9716;">contact@bulldogandfisk.com</a>
                <br>
                <br>
            </div>
        </div>
        <div style="margin-top: 20px;"><hr style="border: 1px solid #F0F0F0;"></div>

        <div style="font-size: 10px; color: #838383; margin-top: 20px; line-height: 15px; text-align: center;">
        </div>
    </div>
    <div style="color: #484848; width: 532px; height: 50px; text-align: center; font-family: Helvetica; font-size: 10px; line-height: 25px; padding: 10px 20px">
    </div>
</div>
